@font-face
{
    font-family: 'pixel_font';  
    src: url("/fonts/Pixel_zh.TTF");
}
@font-face
{
    font-family: 'consola';  
    src: url("/fonts/consola.ttf");
}
.page_content p,ol,ul,dl,table,address,blockquote,form,span,i,em,strong,label
{
   color:rgba(177, 176, 186, 0.842); 
   font-family:"consola";
}

#page_title
{
    color: #179287;
    font-size: 35px;
    font-family: 'pixel_font';  
    filter:drop-shadow(0 0 4px rgba(54, 168, 126, 0.568));
}
table
{
   border-collapse: separate;
   border-spacing: 0;
   width:100%;
}
th
{
    border-bottom: 2px solid rgba(177, 176, 186, 0.342); 
    text-align: left;
    padding-bottom: 7px;
    padding-right: 30px;
    padding-top:7px;
    padding-left: 10px;
}
td
{

    border-bottom: 1px solid rgba(177, 176, 186, 0.242); 
    padding-bottom: 7px;
    padding-right: 30px;
    padding-top:7px;
    padding-left: 10px;
    font-size: 12px;

}
hr
{
    border: 0;
    height: 0;
    margin-top: 15px;
    border-bottom: 1px solid rgba(69, 58, 80, 0.459);
}
.page_content a 
{
    text-decoration: none;
    color:rgb(35, 113, 214);
    filter:drop-shadow(0 0 1px rgb(149, 54, 168));
}
.page_content a:hover 
{
    text-decoration: none;
    color:rgb(127, 35, 214);
    filter:drop-shadow(0 0 1px rgb(79, 54, 168));
}

.page_content h1,h2,h3,h4,h5,h6
{
    color:rgba(231, 215, 204, 0.904);
}
.page_content code
{
    line-height:20px;
}
.footer
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    bottom: 80px;
    margin-top:40px;
    margin-bottom: 40px;
    font-size:13px;
    color:rgba(177, 176, 186, 0.842); 
}
.footer hr
{
    position: relative;
    width: 1200px;
    max-width: width 1200px;
    margin-right: 2%;

}
page_content img
{
    image-rendering: -moz-crisp-edges;      
    image-rendering:   -o-crisp-edges;        
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;  
    -ms-interpolation-mode: nearest-neighbor; 
    image-rendering: optimizeQuality;
}