@font-face
{
    font-family: 'pixel_font2';  
    src: url("/fonts/pixel_2.TTF");
}
@font-face
{
    font-family: 'pixel_font';  
    src: url("/fonts/Pixel_zh.TTF");
}


.topbar
{
    position:relative;
    margin-top:50px;
}

.top_left
{
    position:absolute;
    float:left;
    margin-left: 16.5%;;
    filter: drop-shadow(0 0 3px  rgb(46, 74, 233) );
    transition: all 0.5s ease-in-out;
}
.top_left img
{
    float:left;
    margin-top: -30px;
    filter: drop-shadow(0 0 7px  rgb(145, 60, 184) );
}
.top_left img:hover
{
    filter:  hue-rotate(270deg) drop-shadow(0px 0px 8px  rgb(67, 64, 224));
}
.title_top
{
    float:left;
    margin-left:20px;
    font-family: "pixel_font2";
    font-weight:bold;
    color: rgb(189, 53, 182);
    font-size: 43px;
    filter:
    drop-shadow(0px 0px 5px rgb(189, 53, 149));
    transition: all 0.5s ease-in-out;
}

.title_top:hover
{
    filter:  hue-rotate(270deg) drop-shadow(0px 0px 8px  rgb(67, 64, 224));
}
.buttonfont
{
    position: absolute; 
    color: rgb(226, 222, 176);
    font-weight: bold;
    font-family:"pixel_font2";
    font-size: 20px;
    margin-top: 3px;
}

#topblock
{
    position:relative;
    float: right;
    width:auto;
    height:auto;
}
#topblock #search
{
    position: absolute;
    transition: all 0.4s ease-in-out;
    top: 0px;
    right: 0px;
    margin-top:30px;
    margin-right: 80px;
}
#topblock input
{
    right: 40px;
    width: 200px;
    height: 25px;
    outline:none;  
    background-color: rgb(20, 20, 34);
    font-size: 5px;
    border: 1px solid ;
    border-width: 2px;
    color:rgba(240, 248, 255, 0.315);
    border-color: rgba(240, 248, 255, 0.315);
    border-top-left-radius: 90px;
    border-bottom-left-radius: 90px;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
    text-indent: 10px;
    transition: 0.3s linear;
}
#topblock input:focus
{
    width:260px;
    color:rgba(240, 248, 255, 0.595);
    border-color: rgba(240, 248, 255, 0.595);
    filter: drop-shadow(0 0 3px  rgb(60, 62, 184) );
}
@keyframes light
{
    100%
    {
        background-position: 400% 0;
    }
}
#topblock button
{
    font-weight: bold;
    font-size:15px;
    color:rgba(255, 253, 253, 0.629);
    position: absolute;
    outline: none;
    right: -5px;
    width: 70px;
    height: 31px;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
    border: none;
    background-image: linear-gradient(to right,
    #10b3ff,#fd3fab,#f8e538,#10b3ff);
    background-size:400%;
    animation: light 8s infinite;
    z-index: 1;
    transition: 0.1s linear;
}
#topblock button:hover
{
    box-shadow: 0 0 8px 3px paleturquoise inset;
}
#topblock button::before
{
    content:"";
    position:absolute;
    top: -1px;
    right: -1px;
    width: 70px;
    height: 30px;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
    background-image: linear-gradient(to right,
    #10b3ff,#fd3fab,#f8e538,#10b3ff);
    background-size:400%;
    z-index: -1;
    filter: blur(6px);
    animation: light 8s infinite;
}
#topblock button:hover::before
{
    filter: blur(10px);
}
#topblock button img
{
    opacity:0.6;
}

#topblock #text
{
    float: right;
    position:relative;
    right:0px;
    margin-right: 300px;
}
#topblock #text nav
{
    transition: all 0.9s ease-in-out;;
    height: 80px;
    width: 100%;
}
#topblock #text nav ul
{
    margin-right: 0px;
    list-style-type: none;
    float: right;
}
#topblock #text ul li
{
    display: inline-block;
    margin-right: 120px;
}
#topblock div ul li a
{
    float: right;
    text-decoration: none;
}




@media screen and (max-width:1300px)
{
    #topblock #text
    {
        display: none;
    }
    .top_left
    {
        position:absolute;
        filter: drop-shadow(0 0 3px  rgb(46, 74, 233) );
        text-align: center;
        transition: all 0.5s ease-in-out;
        transform: scale(0.8);
    }
    .title_top
    {
        position:absolute;
        margin-top: 10px;
        text-align: left;
    }
    #topblock #search
    {
        float:right;
        right: 170px;
        margin-top: 150px;
        text-align: right;
    }
    #topblock #search input
    {
        position:absolute;
        width: 300px;
        top: -15px;
    }
    #topblock #search input:focus
    {
        width: 400px;
    }
    #topblock #search button
    {
        position:absolute;
        top: -15px;
    }
}
@media screen and (max-width:850px)
{
    #topblock #search
    {
        float:right;
        right: 50px;
        margin-top: 150px;
        text-align: right;
    }
    #topblock #search input
    {
        position:absolute;
        width: 150px;
        top: -15px;
    }
    #topblock #search input:focus
    {
        width: 250px;
    }
    #topblock #search button
    {
        position:absolute;
        top: -15px;
    }
}
@media screen and (max-width:650px)
{
    .top_left
    {
        left: 0;
    }
    #topblock #search
    {
        right: 0px;
        margin-right: 30px;
        text-align: right;
    }
}